
<!doctype html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0" />
  <link type="text/css" rel="stylesheet" href="/dist/home_products.css" />
  <link type="text/css" rel="stylesheet" href="/vendors/flexslider.css" />
  <link rel="stylesheet" media="all" href="/dist/qor.css">
  <link rel="stylesheet" media="all" href="{{.AuthURL "/assets/qor_auth.css"}}">
  <script src="/vendors/jquery.js"></script>
  <script src="/vendors/jquery.cookie.js"></script>
</head>


<div class="container qor-auth">
  <div class="qor-auth-box">
    {{$flashes := .Flashes}} {{if $flashes}}
    <ul class="errors">
      {{range $flash := $flashes}}
      <li>{{$flash.Message}}</li>
      {{end}}
    </ul>
    {{end}}

    <h1>{{ t "auth.sign_up" }}</h1>
    <a></a>
    <!-- <a class="signup-link" href="{{.AuthURL "login"}}">
      {{t "auth.links.sign_in"}}
    </a> -->

    {{if .Auth.GetProvider "password"}}
    <form action="{{.AuthURL "password/register" }}" method="POST">
      <ul class="auth-form">
        <li>
          <label for="login">{{t "auth.form.email"}}</label>
          <input name="login" type="text" required placeholder="{{t "auth.form.email_placeholder"}}"
            value="{{.FormValue "login"}}" />
        </li>
        <li>
          <label for="moblie">{{t "auth.form.moblie"}}</label>
          <input name="moblie" type="text" required placeholder="{{t "auth.form.moblie_placeholder"}}" 
            value="{{.FormValue "moblie"}}" />
        </li>

        <li>
          <label for="password">{{t "auth.form.password"}}</label>
          <input type="password" required class="form-control" name="password" placeholder="{{t "auth.form.password_placeholder"}}"
          value="{{.FormValue "password"}}" >
        </li>

        <li>
          <label for="confirm_password">{{t "auth.form.password_confirm"}}</label>
          <input name="confirm_password" required type="password"
            placeholder="{{t "auth.form.password_confirm_placeholder"}}" 
            value="{{.FormValue "confirm_password"}}" />
        </li>

        <li>
          <button type="submit" class="button button__primary">{{ t "auth.form.sign_up" }}</button>
        </li>
      </ul>
    </form>
    {{end}}

  </div>
</div>