<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-%d">
    <input type="checkbox" id="switch-%d" class="mdl-switch__input" onclick="materialSwitch('%s');" data="%d" %v>
    <span class="mdl-switch__label"></span>
  </label>